<h1 class="display-6 text-center">Chats HBS</h1>
    <form onsubmit="return enviarMensaje()">
        <input type="text" id="author" placeholder="Nombre"/>
        <input type="text" id="text" placeholder="Escriba su mensaje"/>
        <button type="submit" class="btn btn-outline-secondary">Enviar mensaje</button>
    </form>  
<div id="messages"></div>
